  /* Hero Section */
  nav {
    margin-bottom: -23px;
  }
  #hero {
    margin-top: 0px;
    background-color: #1c3faa;
    color: #fff;
    padding: 80px 0;
  }

  /* Why Us Section */
  #why-us {
    background-color: #f4f7fb;
    padding: 80px 0;
  }

  /* Lihat Antrean */
  .btn-primary {
    color: #ffffff;
    text-align: left;
    font-weight: bold;  
  }
  /* Contact Section */
  .contact {
    background-color: #f4f7fb;
    padding: 80px 0;
  }

  .contact .section-title h2 {
    color: #1c3faa;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .contact .info {
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .contact .info i {
    font-size: 20px;
    color: #1c3faa;
    float: left;
    width: 44px;
    height: 44px;
    background: #eaf2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }

  .contact .info h4 {
    font-size: 20px;
    color: #1c3faa;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 5px;
  }

  .contact .info p {
    margin-left: 60px;
    font-size: 15px;
    color: #666;
    margin-bottom: 0;
  }

  .contact .php-email-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  .contact .php-email-form input,
  .contact .php-email-form textarea,
  .contact .php-email-form button {
    background-color: #1c3faa;
    color: #fff;
    border-color: #1c3faa;
  }

  .contact .php-email-form button:hover {
    background-color: #142f82;
    border-color: #142f82;
  }

  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #1c3faa;
    box-shadow: 0 0 0 0.2rem rgba(28, 63, 170, 0.25);
  }

  .contact .php-email-form .loading {
    display: none;
    background-color: #1c3faa;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    border-radius: 4px;
  }

  .contact .php-email-form .error-message {
    display: none;
    background-color: #f84545;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    border-radius: 4px;
  }

  .contact .php-email-form .sent-message {
    display: none;
    background-color: #51c2d5;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    border-radius: 4px;
  }

  .contact .php-email-form .loading,
  .contact .php-email-form .error-message,
  .contact .php-email-form .sent-message {
    font-size: 14px;
    margin-top: 10px;
  }

  .contact .php-email-form .text-center button[type="submit"] {
    background-color: #1c3faa;
    border-color: #1c3faa;
    color: #fff;
    padding: 10px 24px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }

  .contact .php-email-form .text-center button[type="submit"]:hover {
    background-color: #142f82;
    border-color: #142f82;
  }
